/* ページ全体 */
body {
    background-color: #f5f5f5;
}

/* 全体中央寄せ */
.attendance-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;

    width: 100%;
        max-width: 500px;
        margin: 0 auto;
}

/* ステータス（勤務中など） */
.attendance-main h2 {
    background-color: #eee;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

/* 日付 */
.attendance-main p:first-of-type {
    margin-bottom: 10px;
    color: #666;
}

/* 時刻 */
.attendance-main p:nth-of-type(2) {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* ボタン共通 */
.attendance-button {
    background-color: black;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

/* 退勤・休憩入りボタン */
.attendance-actions {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}

/* 休憩入ボタン（白ver） */
.attendance-button--sub {
    background-color: white;
    color: black;
    border: none;
}

/* メッセージ */
.message {
    margin-top: 20px;
    color: #666;
}
